.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--bg-header);

  z-index: 1000;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-white)
}

.right-side {
  display: flex;
  gap: 1rem;
}